doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/stars.css')
  body.d-flex.flex-column.vh-100
    nav.navbar.navbar-expand.navbar-dark.bg-dark.sticky-top
      .container-fluid
        a.navbar-brand(href='/')
          i.fa.fa-home.fa-lg
        div(class="navbar")
          .navbar-nav.mr-auto
            a.nav-link(href='/user') USERS
            a.nav-link(href='/resource') RESOURCES
        div(class="navbar")
          .navbar-nav.ml-auto
            if (!currentUser)
              a.nav-link(href='/register') REGISTER 
                i.fa.fa-user-plus 
              a.nav-link.active(href='/login') LOGIN 
                i.fa.fa-sign-in 
            else
              a.nav-link(href='/logout') LOGOUT 
                i.fa.fa-sign-out
    main.container
      if (success && success.length > 0)
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
          =success
          button.w3-right(class='close' type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') X
      if (error && error.length > 0)
        .alert.alert-danger.alert-dismissible.fade.show(role='alert')
          =error
          button.w3-right(class='close' type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') X
      block content
    footer.footer.bg-dark.py-3.mt-auto
      .container
        span.text-muted © DAW 2021
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous")
    script(src="/javascripts/validateForms.js")
    