extends layout

block content
  .row.mt-3
    .col-md-6
      .w3-card-4.w3-container.mb-3.card
        h4.w3-left.w3-text-teal= resource.title
        .card-body
          table.table.table-striped.table-dark
            tr 
              th(scope='row') Subtitle
              td= resource.subtitle
            tr
              th(scope='row') Type
              td= resource.type
            tr 
              th(scope='row') Hashtags
              td= resource.hashtags
            tr
              th(scope='row') Author
              td= resource.user.username
                |  - 
                = resource.user.course
            tr
              th(scope='row') Creation Date
              td= resource.creationDate
            tr
              th(scope='row') File Name
              td= resource.file
          .card-body
            a.btn.w3-btn.w3-teal.d-inline(class='button' href='/resource') 
                  i.fa.fa-arrow-left  Back 
            -if(currentUser && resource.user._id.equals(currentUser._id))
                a.btn.w3-btn.w3-teal.w3-margin.d-inline(class='button' href='/resource/'+ resource._id +'/edit') 
                  i.fa.fa-edit  Edit 
                form.d-inline(method='POST', action='/resource/'+ resource._id +'?_method=DELETE')
                  input.btn.w3-btn.w3-teal.w3-margin(type='submit', value='Delete')
                fieldset(class="starability-basic")
                  legend.w3-text-teal.w3-left Rating:
                  input(type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating.")
                  input(type="radio" id="first-rate1" name="rating" value="1")
                  label(for="first-rate1" title="Terrible">1 star)
                  input(type="radio" id="first-rate2" name="rating" value="2")
                  label(for="first-rate2" title="Not good">2 stars)
                  input(type="radio" id="first-rate3" name="rating" value="3")
                  label(for="first-rate3" title="Average">3 stars)
                  input(type="radio" id="first-rate4" name="rating" value="4")
                  label(for="first-rate4" title="Very good">4 stars)
                  input(type="radio" id="first-rate5" name="rating" value="5")
                  label(for="first-rate5" title="Amazing">5 stars)
    .col-md-6
      -if(currentUser)
        .w3-card-4.w3-container.mb-3
          h4.w3-left.w3-text-teal Add new post
          form(method='POST', action='/resource/'+ id +'/post' class='validated-form' novalidate)
            #form-group
              textarea.w3-input.x3-border.w3-light-grey.form-control(name='content', rows='2', type='text', value="content..." required)
              input.btn.btn-success.mb-2(type='submit', value='Add new')
      .w3-card-4.w3-container.mb-3
        h4.w3-left.w3-text-teal Posts
        for post in resource.posts
          table.w3-table-all.mb-1
            tr 
              td= post.content 
                br
                span.text-muted by 
                               = post.user.username
                -if(currentUser && post.user._id.equals(currentUser._id))
                  form.w3-right(method='POST', action='/resource/'+ resource._id +'/post/'+ post._id +'?_method=DELETE')
                    input.btn.btn-danger.btn-sm(type='submit', value='Delete')