extends layout

block content
    .w3-card-4.w3-container
          table.w3-table-all
            tr 
              th Title
              td= resource.title
            tr 
              th Subtitle
              td= resource.subtitle
            tr
              th Type
              td= resource.type
            tr 
              th Hashtags
              td= resource.hashtags
            tr
              th AuthorID
              td= resource.authorId
            tr
              th Creation Date
              td= resource.creationDate
          .row
            .col-4
                a.btn.w3-btn.w3-teal.w3-margin(class='button' href='/resource') 
                  i.fa.fa-arrow-left  Back 
            .col-4
                a.btn.w3-btn.w3-teal.w3-margin(class='button' href='/resource/'+ resource._id +'/edit') 
                  i.fa.fa-edit  Edit 
            .col-4
                form(method='POST', action='/resource/'+ resource._id +'?_method=DELETE')
                  input.btn.w3-btn.w3-teal.w3-margin(type='submit', value='Delete resource')