extends layout

block content
    .w3-card-4.w3-container
          table.w3-table-all
            tr 
              th Title
              td= resource.title
            tr 
              th Subtitle
              td= resource.subtitle
            tr
              th Type
              td= resource.type
            tr 
              th Hashtags
              td= resource.hashtags
            tr
              th AuthorID
              td= resource.authorId
            tr
              th Creation Date
              td= resource.creationDate
                
          a.btn.w3-btn.w3-teal.w3-margin(class='button' href='/resource') <- Back 
          a.btn.w3-btn.w3-teal.w3-margin(class='button' href='/resource/'+ resource._id +'/edit')  ! Edit 
          a.btn.w3-btn.w3-teal.w3-margin(class='button' href='#')  X Delete