extends layout

block content
   nav.breadcrumb 
      ol.breadcrumb 
         li(class="breadcrumb-item")
            a(href="/") Home
         li(class="breadcrumb-item active" aria-current="page") Resources
   if (admin)
      form.w3-margin(method='POST', action='/resource/category/new')
         #form-group
            label.w3-text-teal
               b Category
            input.w3-input.x3-border.w3-light-grey.form-control(name='category', type='text' required)
         input.btn.w3-btn.w3-blue-grey(type='submit', value='Add new category')
   .w3-container
      .w3-bar.w3-light-grey
         h1.w3-left.w3-margin Resources
         a.w3-right.w3-margin(class='button' href='/resource/new') 
           i.fa.fa-plus-circle.fa-3x
         form.w3-margin(method='POST', action='/resource/category')
            select(name='type')
             - var selected = (category == 'all')
             option(value='all' selected = selected? '' : null) --------
             for c in categories
               - var selected = (category == c)
               option(value=type, selected = selected? '' : null)= c
            input(type='submit', value='Search')
            input(type="text", id="tagCode", onkeyup="filterTag()" placeholder="Search for tags..")
   .w3-container.ml
         for resource in resources

            .card.mb-3
               .row
                  .col-2
                     img(src="https://www.pngitem.com/pimgs/m/32-324405_book-logo-circle-png-transparent-png.png" class="w3-bar-item w3-circle" style="width:85px")
                  .col-10
                     .card-body
                        h5.card-title= resource.title
                        p.card-text= resource.subtitle
                        p.card-text= resource.type
                        p.card-text= resource.hashtags
                        p.card-text.text-muted Submited by 
                           span= resource.user.name
                           | - 
                           span= resource.user.course
                        p.card-text.text-muted= resource.creationDate
                        a.btn.w3-teal(href='/resource/' + resource._id) Show more
            
   script.
      let tagSearch = document.getElementsByClassName('ml')[0].children;
      function filterTag() { 
         let name  = document.getElementById('tagCode').value.toUpperCase();
         for(let i = 0; i<tagSearch.length ; i+=1){
               if(tagSearch[i].children[0].children[1].children[0].children[3].innerText.toUpperCase().indexOf(name) > -1) tagSearch[i].style.display = ""
               else tagSearch[i].style.display = "none"    
            }
      }