extends layout

block content
    nav.breadcrumb 
      ol.breadcrumb 
        li(class="breadcrumb-item")
          a(href="/") Home
        li(class="breadcrumb-item active" aria-current="page") Users

    .w3-bar.w3-teal
      h1.w3-left.w3-margin Users

    table.w3-table-all
      tr 
          th Username 
          th Name 
          th Course 
          th Email 
          th Level
      for user in users
          tr 
            td= user.username 
            td= user.name 
            td= user.course 
            td= user.email 
            td= user.level


