extends layout

block content
    nav.breadcrumb 
      ol.breadcrumb 
        li(class="breadcrumb-item")
          a(href="/") Home
        li(class="breadcrumb-item active" aria-current="page") Users
    .w3-bar.w3-light-gray
      h1.w3-left.w3-margin Users

    table.w3-table-all
      tr 
          th
          th Username 
          th Name 
          th Course 
          th Email 
          th Level
      for user in users
          tr 
            td 
              form.w3-right(method='POST', action='/user/'+ user._id +'?_method=DELETE')
                input.btn.btn-danger.btn-sm(type='submit', value='X')
            td= user.username 
            td= user.name 
            td= user.course 
            td= user.email 
            td= user.level


